<section class="app-section1">
            <h1 class="app-titulo">Recicla y se Verde <span class="app-resaltar"></span></h1>
            <p class="app-descripcion">Si estas buscando reciclar, como ser un ejemplo y ayudar al planeta. Este movimiento ayudara a concientizar a las personas acerca de como se puede hacer y los beneficios.</p>

            </div>
        </section>
    <!-- PRIMER TIPO DE ARTICULO REPITO LAS SECCIONES POR EL CSS YA DEFINIDO-->
        <section class="app-section2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <br>
                        <%= link_to(image_tag("img3.jpg"), image_path("img3.jpg")) %>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <br>
                        <h2 class="app-titulo2"><strong>¿Qué es?</strong></h2>
                        <p class="separador"></p>
                        <p class="app-justificar">El reciclaje es un proceso por el cual recuperamos total o parcialmente materia prima reutilizable de un producto ya elaborado.La necesidad de reciclar surge de la mano del consumismo desenfrenado del último siglo. Los profundos cambios sociales que ha producido la Revolución Industrial han afectado directamente al estilo de vida, sobre todo al occidental y a la forma en que consumimos, surgiendo toda una variedad de productos elaborados y diseñados para el consumo individual..</p>

                        <div class="media app-media">
                            <div class="pull-left">
                                <span class="glyphicon glyphicon-heart app-glyphicon1"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heding">Facil de Contribuir</h4>
                                <p class="app-justificar">Debido a que el reciclaje es algo tan facil de realizar te invitamos a que tomes la iniciativa y seas parte del movimiento a mejorar el planeta.</p>
                            </div>
                        </div>

                         <div class="media app-media">
                            <div class="pull-left">
                                <span class="glyphicon glyphicon-globe app-glyphicon1"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heding">Es tú Planeta</h4>
                                <p class="app-justificar">La cadena de Reciclaje empieza en casa y en la escuela, educando. Es imprescindible conocer los peligros medioambientales y sociales que supone toda la basura que generamos y saber los medios para atajarlos y darles solución..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- SEGUNDO TIPO DE ARTICULO-->
         <section class="app-section3">
            <div class="container">
                <div class="row">
                     <div class="col-xs-12 col-sm-12 col-md-6">
                        <br>
                        <h2 class="app-titulo2">¿Qué es el calentamiento Global?</h2>
                        <p class="separador"></p>
                        <p class="app-justificar">A finales del siglo XVII, el hombre comenzó a utilizar los combustibles fósiles que se encontraban en el subsuelo terrestre. La combustión de estos gases a lo largo de las décadas ha provocado el aumento paulatino pero constante de la temperatura de la superficie terrestre, fenómeno conocido como el calentamiento global y consecuencia directa y principal de este cambio a nivel planetario.</p>

                        <div class="media app-media">
                            <div class="pull-left">
                                <span class="glyphicon glyphicon-tree-deciduous app-glyphicon1"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heding">Consecuencias</h4>
                                <p class="app-justificar">El aumento constante de las temperaturas altera el delicado ciclo del agua lo cual a su vez genera una encadenación de desastres naturales.</p>
                            </div>
                        </div>

                         <div class="media app-media">
                            <div class="pull-left">
                                <span class="glyphicon glyphicon-shopping-cart app-glyphicon1"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heding">¿Qué queremos hacer para Ayudar?</h4>
                                <p class="app-justificar">Tomar la iniciativa y crear una cultura de Reciclaje en nuestra universidad. Incentivando a todos los estudiantes a participar y hacer de nuestra casa de estudio un ejemplo, asi que tomemos la iniciativa y participemos en este movimiento.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <br>
                        <%= link_to(image_tag("img1.jpg"), image_path("img1.jpg")) %>
                    </div>
                </div>
            </div>
        </section>
    <!-- SECCION DONDE SE ENCUENTRAN LOS ENVASES JUNTO A SUS SIGNIFICADOS-->
        <section class="app-section2">
            <div class="container">
                <div class="app-contenedor">
                    <h2 class="app-titulo3">Los Envases y su Significado</h2>
                    <p class="app-separador2"></p>
                    <p>Aqui se especificara el significado de los colores de los envases de reciclaje.
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="app-contenedor">
                        <p class="glyphicon glyphicon-trash glyphicon2"></p>
                        <h3>Envase Verde reciclaje (vidrio):</h3>
                        <p class="app-descripcion2">En este contenedor se depositan envases de vidrio, como las botellas de bebidas alcohólicas.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                     <div class="app-contenedor">
                        <p class="glyphicon glyphicon-trash app-glyphicon3"></p>
                            <h3>Envase Azul reciclaje (papel y cartón):</h3>
                                <p class="app-descripcion2">En este contenedor de color azul, se deben depositar todo tipo de papeles y cartones, como cajas o envases de alimentos..</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="app-contenedor">
                        <p class="glyphicon glyphicon-trash app-glyphicon4"></p>
                            <h3>Envase Rojo reciclaje (desechos peligrosos):</h3>
                                <p class="app-descripcion2"> Podemos considerarlos para almacenar desechos peligrosos como baterias, pilas, insecticidas, aceites, aerosoles, o productos tecnológicos..</p>
                    </div>
                </div>
            </div>

                    <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="app-contenedor">
                        <p class="glyphicon glyphicon-trash app-glyphicon5"></p>
                        <h3>Envase Amarillo reciclaje (plásticos y latas):</h3>
                        <p class="app-descripcion2">En los contenedores amarillos se deben depositar todo tipo de envases y productos fabricados con plásticos como botellas, envases de alimentación o bolsas.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                     <div class="app-contenedor">
                        <p class="glyphicon glyphicon-trash app-glyphicon6"></p>
                            <h3>Envase Gris reciclaje (resto de residuos):</h3>
                                <p class="app-descripcion2">se depositan los residuos que no hemos visto hasta ahora, aunque principalmente se deposita en ellos materia biodegradable.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="app-contenedor">
                        <p class="glyphicon glyphicon-trash app-glyphicon7"></p>
                            <h3>Envase Anaranjado reciclaje (orgánico):</h3>
                                <p class="app-descripcion2">Estos se utilizan exclusivamente para material orgánico.</p>
                    </div>
                </div>
            </div>




        </div>
        </section>
    <!-- SECCION DE LA LISTA DE MATERIALES-->
        <section class="app-section3">
            <div class="container">
                <div class="app-contenedor">
                    <h2 class="app-titulo3">Clases de Materiales</h2>
                    <p class="app-separador2"></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <ul class="list-group">
                            <li class="list-group-item app-lista1">
                                <h2>Plasticos</h2>
                                <p>Algunos materiales reciclables</p>
                            </li>
                            <li class="list-group-item text-right"><span class="glyphicon glyphicon-ok">Vasos</span></li>
                            <li class="list-group-item text-right"><span class="glyphicon glyphicon-ok">Envases de Comida</span></li>
                            <li class="list-group-item text-right"><span class="glyphicon glyphicon-ok">Envases de Refresco</span></li>
                            <li class="list-group-item text-right"><span class="glyphicon glyphicon-ok">Envoltorios de chucherias</span></li>
                        </ul>



                    </div>

                     <div class="col-xs-12 col-sm-4">
                        <ul class="list-group">
                            <li class="list-group-item app-lista2">
                                <h2>Carton y papeles</h2>
                                <p>Algunos materiales reciclables</p>
                            </li>
                            <li class="list-group-item text-right"><span class="glyphicon glyphicon-ok">Colilla de Cigarro</span></li>
                            <li class="list-group-item text-right"><span class="glyphicon glyphicon-ok">Envases de Comida</span></li>
                            <li class="list-group-item text-right"><span class="glyphicon glyphicon-ok">Envases de Jugos</span></li>
                            <li class="list-group-item text-right"><span class="glyphicon glyphicon-ok">Sobrante de cajas</span></li>
                        </ul>

                        

                    </div>


                
                     <div class="col-xs-12 col-sm-4">
                        <ul class="list-group">
                            <li class="list-group-item app-lista1">
                                <h2>Organicos</h2>
                                <p>Algunos materiales reciclables</p>
                            </li>
                            <li class="list-group-item text-right"><span class="glyphicon glyphicon-ok">Residuos de comidas</span></li>
                            <li class="list-group-item text-right"><span class="glyphicon glyphicon-ok">Desechos de Animales</span></li>
                            <li class="list-group-item text-right"><span class="glyphicon glyphicon-ok">Residuos de Madera</span></li>
                            <li class="list-group-item text-right"><span class="glyphicon glyphicon-ok">Restos de Podas de Arbustos</span></li>
                        </ul>

                        

                    </div>







                </div>
            </div>
        </section>

