<div class="mui-row">
<div class="mui-col-md-4  mui-col-md-offset-4">
   <div class="titulos">
   	 <h1>Log in</h1>

   	   <%= link_to user_omniauth_authorize_path(:facebook), class: " mui-btn mui-btn--raised  btn-social btn-facebook" do %>
   <span class="fa fa-facebook"></span><strong>Entrar con facebook</strong>
  <% end %>
   </div> 





  </div>

</div>
