<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <%= link_to  '<i class="fa fa-camera"></i>'.html_safe, new_photo_path, id: "add-photo" , class:"mui-btn mui-btn--fab mui-btn--primary"%>

 </div>
        
